.image-gallery {
    column-count: 3;
    column-gap: 20px;
}

.gallery-item {
    break-inside: avoid-column;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.gallery-item:hover {
    transform: scale(1.05); /* Increase the size on hover */
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 900px) {
    .image-gallery {
        column-count: 2;
    }
}

@media (max-width: 684px) {
    .image-gallery {
        column-count: 1;
    }
}