{{ $images := split .Inner "\n" }}
<div class="image-gallery">
    {{ range $images }}
        {{ with . }}
            {{ $parts := split . "|" }}
            {{ $imgSrc := index $parts 0 | trim " " }}
            {{ $imgAlt := index $parts 1 | default $imgSrc | trim " " }}

            <div class="gallery-item">
                <a href="{{ $imgSrc | safeURL }}" target="_blank" rel="noopener noreferrer">
                    <img src="{{ $imgSrc | safeURL }}" alt="{{ $imgAlt }}" />
                </a>
            </div>
        {{ end }}
    {{ end }}
</div>
